body{
    margin: 0;
    padding: 0;
}
.container1{
    height: 775px;
    background-image: url(img/cavan4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 1;
}
.img7{
    width: 300px;
    height: 100px;;
}
.header{
    height: 105px;
    z-index: 2;
    border-bottom:solid 0.1px #fff;

}
.color{
    height: 105px;
    color:white;
    opacity: 1;
}
.color i{
    color:white;
    font-size: 22px;
    margin-right:10px;
}
.color a{
    text-decoration: none;
}
.img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.img img{
    width: 100%;
    height: 100%;
}
.color h1{
    font-size: 50px;
    font-weight: 700;
}
.color a{
    color:white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.header__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "metropolis-medium", sans-serif;
    font-size: 15px;
}
.header__nav li {
    display: inline-block;
    position: relative;
    padding: 0 1.5rem;
    margin-top: 30px;
}
.header__nav li a{
    text-decoration: none;
    color:#8B8B8B;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.header__nav li a:hover{
    color: white !important;
    transition: 0.3s;
}
.header__nav li a p{
    margin-left: 10px;
    font-size: 10px;
    margin-bottom: 0rem;
    margin-top: 5px;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.header__nav li a p:hover{
    color:white !important;
    -ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: 0.3s;
}
.header__nav li.has-children {
    padding-right: 2rem;
}
@media only screen and (min-width: 801px){
.header__nav .has-children ul {
    display: block !important;
}
}
.header__nav li ul  {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 18px;
    background-color: #050505;
    border-radius: 0 0 3px 3px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}
.header__nav li ul:hover{
    opacity: 1 !important;
    visibility:visible !important;
    margin-top:0 !important;

}
.header__nav li ul li {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    min-height: 33px;
    width: 100%;
}
.container3{
    margin-top: 120px;
    margin-right: 30px;
    margin-left: 30px;
}
.col5{
    height: 550px;
    background-image: url(img/cavan7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
}
.col21{
    width: 100%;
    height: 100%;
    padding: 60px;
}
.col22{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.col21:hover{
    background-color: black;
    opacity: 0.3;
    transition: 1s
}
.col21 .category a{
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    padding: 2px 15px;
    background-color: #01AEF0;
    color:white;
    text-align: center;
}
.col22 .category1 a{
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    padding: 2px 15px;
    background-color: #679A23;
    color:white;
    text-align: center;
}
.col21 .category{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.col22:hover{
    background-color: black;
    opacity: 0.3;
    transition: 1s
}
.col22 .category1{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.content h1 a{
    color:white !important;
    font-size: 45px;
    font-family: "librebaskerville-bold", serif;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;

}
.content1 h1 a{
    color:white !important;
    font-size: 25px;
    font-family: "librebaskerville-bold", serif;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    letter-spacing: -.1rem;

}
.col21 .info {
    position: relative;
    margin: 0;
    padding: 0;
}
.col21 .meta {
    font-size: 17px;
    font-weight: 700;
    list-style: none;
    margin: 0 0 0 5rem;
    padding: 0;
    font-family: "metropolis-semibold", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    margin-top: 20px;
}
.col21 .meta a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 30px;
}
.col22 .meta1 {
    font-size: 14px;
    font-weight: 700;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    font-family: "metropolis-semibold", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    margin-top: 10px;
}
.col22 .meta1 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}
.info .profile{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-top: -10px;
}
.col21 .info .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.col6{
    height: 275px;
    background-image: url(img/cavan8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    padding: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.col7{
    height: 275px;
    background-image: url(img/cavan9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    padding: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
img{
    width: 100%;
    height: 100%;
}